.select fieldset {
  border-color: #0a53be;
}

.drop  :global .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important;
}

.drop  :global .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.drop  :global .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.drop  :global .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.drop  :global .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.drop  :global .dropdown-menu {
  width: 100% !important;
}

.drop {
  width: 100% !important;
}