.menu{
  padding: 0!important;
  margin: 0!important;
  & ul{
    padding: 10px 10px!important;
  }
  & li{
    padding: 0!important;
  }
}
.btn{
  padding: 0!important;
  margin: 0!important;
  min-width: auto!important;
}