
.btn {
  margin-top: 10px !important;
  text-transform: initial !important;
}

.root {
  display: flex !important;
  align-items: center !important;
  column-gap: 5px !important;
  padding: 10px 10px !important;
  margin-top: 10px !important;
  @media (max-width: 500px) {
    flex-wrap: wrap !important;
    column-gap: 5px !important;
  }
}