
.btn{
  margin-top: 10px;
  text-transform: initial!important;
}
.root{
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 10px 10px;
  margin-top: 10px;
  @media (max-width: 500px) {
flex-wrap: wrap;
  }
}