

.root{
  margin-top: 10px;
}



.btn{
  display: flex;
  align-items: center;
}

.img{
  object-fit: cover;
  object-position: center center;
  width: 100%;

}
.imgroot{
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconBtn{
  position: absolute;
  top:5px;
  right: 5px;
  background-color: var(--primary-light)!important;
}
.btnWrap{
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.btnImg{
  display: flex;
  align-items: center;
  justify-content: center;
  & span{
    margin-right: 3px;
  }
}

.btns{
  margin-bottom: 10px;
}