.root{
  padding-top: 100px;
  @media (max-width: 500px) {
    padding-top: 40px;;
  }
}
.row{
  justify-content: center!important;
}
.title{
  display: flex;
}
.info{
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  justify-content: center!important;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.btn{
  text-transform: initial!important;
}