.text{
  margin-left: 3px;
}

.back{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  transition: all .3s!important;
  &:hover{
    cursor: pointer!important;
    opacity: .5!important;
  }
}