.root{
  margin-top: 15px!important;

}
.full{
  transition: all .3s!important;
  &:hover{
    opacity: .5!important;
    cursor: pointer!important;
  }
}
.info{
  padding: 10px 15px 10px 30px!important;
  display: flex!important;
  align-items: center!important;
  justify-content: space-between!important;
}