.root{
  margin: 10px 0;
}

.paper{
  padding: 20px 10px!important;
  position: relative!important;
  @media (max-width: 500px) {
  padding: 30px 10px 10px!important;
  }
}

.topInfo{
  padding: 5px 0 15px;
  position: relative;
  &:after{
    position: absolute;
    bottom: 5px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--text-secondary-light);
  }
}

.name{
  margin-bottom: 10px!important;
}
.btn{
  position: absolute!important;
  top: 0!important;
  right: 0!important;
  margin-left: auto!important;
  display: block!important;
  z-index: 10!important;
}
.wrap{
  display: flex;
}