
.input {
  color: #ffffff!important;
  background-color: rgba(255, 255, 255, .2)!important;
  border-radius: 5px!important;

  @media (max-width: 500px) {
    .searchMedia & input{
      display: none!important;
    }
  }
  @media (max-width: 500px) {
    .searchMedia &{
      display: none!important;
    }
  }
  & div{
    color: inherit!important;
    gap: 0!important;
    @media (max-width: 500px) {
      .searchMedia &{
        display: none!important;
      }
    }


  }

  & label{
    color: inherit!important;
    height: 100%!important;
    @media (max-width: 500px) {
      .searchMedia &{
        display: none!important;
      }
    }
  }
}
.date{
  color:#FFFFFF;
}

.button{
  padding: 5px 40px!important;;
  text-align: center!important;
  font-size: 15px!important;
  width: auto!important;
  background-color: rgba(255, 255, 255, 0.2)!important;
  transition: all .3s!important;
  &:hover{
    transform: scale(1.1)!important;
    opacity: .5!important;
  }


}

.root{
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 15px 30px;
  background-color: var(--background-paper-dark);
  border-radius: 10px;
  @media (max-width: 500px) {
    padding: 0 10px;
  }
}

.message{
  padding:7px 20px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
  color: #e92f2f;
  background-color: rgba(255, 255, 255, .2);
}
.inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .2);
  padding: 15px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  margin-top: 30px;
  & div{
    font-size: 15px;
    color: #c06868;
    margin-top: 3px;

    & span{
      color: #9b9393;
    }
  }
}

.link{
  color: #58607f;
  font-size: 18px;
  text-align: center;
  margin: 0 4px;

}

.wrapbtn{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}


.wrapLoginInput{
  position: relative;
  width: 100%;
}

.freeLogin{
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 14px;
}

.item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 500px) {
    display: block;
  }
}
.select{
  width: 100%;
  @media (max-width: 500px) {
    white-space: initial;
    margin-right: 10px;
  }
}
.title{
  margin-right: 30px;
  white-space: nowrap;
  @media (max-width: 500px) {
    white-space: initial;
    margin-right: 10px;
  }

}