.root{
  display: flex;
  align-items: center;
  justify-content: space-between;
  //max-width: 700px;
  //margin: 30px auto 0 ;
  margin-top: 30px!important;
  padding: 0 15px!important;
  @media (max-width: 500px) {
    margin: 15px auto 0!important ;
    flex-direction: column;
  }
}

.info{
  display: flex;
align-items: center;
  justify-content: space-between;
  @media (max-width: 500px) {
    flex-direction: column;
    padding: 5px 0;
  }

}
.avatar{
  width: 90px!important;
  height: 90px!important;
  margin-right: 15px!important;

  @media (max-width: 500px) {
    width: 70px!important;
    height: 70px!important;
  }
}
.inner{
padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  text-transform: initial!important;
  width: 100%;
}
.name,.avatar{
  cursor: pointer;
  transition: all .3s;
  &:hover{
    opacity: .5;
  }
}

.messages{
  margin-right: 10px;
  @media (max-width: 500px) {
    margin-right: 0;
  }
}