.root{
  display: flex!important;
  align-items: center!important;
  justify-content: space-between!important;
  padding: 5px 10px!important;
  margin-top: 10px!important;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  &:hover{
    cursor: pointer;
  }
}
.name{
  margin-left: 15px!important;
}