.root{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-top: 10px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  &:hover{
    cursor: pointer;
  }
}
.name{
  margin-left: 15px;
}