.link{
  transition: all .3s!important;
  margin-right: 4px!important;
  font-weight: 500!important;

  &:hover{
    cursor: pointer!important;
  }
}
.root{
  padding: 0 15px;
}
.content{
  display: flex;
}
.date{
  display: block!important;
  text-align: right!important;
}