.root{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  transition: all .3s;
  &:hover{
    cursor: pointer;
    background-color: var(--background-paper-dark);
  }
}
.inner{
  width: 100%;
  margin-left: 15px;
}
.name{
  font-weight: 500!important;
}

.messages{
  margin-top: 10px!important;
  font-weight: 200!important;
}

.skeletonName{

  max-width: 100px;
}

.skeletonMessage{
  max-width: 250px;
}

.unread{
  display: inline-flex!important;
  width: 25px!important;
  height: 25px!important;
  border-radius: 50%!important;
  align-items: center!important;
  justify-content: center!important;
  background-color: #434343!important;
}
.wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}