.root {
  margin: 10px 0;
}

.img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center center;
  height: 290px!important;
  @media (min-width: 768px) {
    height: 600px!important;
  }
  @media (min-width: 1200px) {
    height: 350px!important;
  }
}


