.link{
  display: flex;
  align-items: center;
  transition: all .3s;
  padding: 0 15px;

  &:hover{
    background-color: rgba(255,255,255, .1);
    cursor: pointer;
  }
}
.root{
  margin: 10px 0;
}
.icon{
  margin-right: 10px;
}