.root{
  background-color:rgba(255, 255, 255, 0.2);
  color: #ffffff;
  padding-left: 15px;
  padding: 10px 0 10px 15px ;
  border-radius: 5px;
  box-shadow: none!important;
  width: 100%;
  outline: none;

}
