.list{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.spinner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn{
  margin-bottom: 10px!important;
  position: relative!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  width: 100%!important;
}

.sidebarForward{
  position: sticky;
  top: 10px;
  left: 45%;
  z-index: 10;
  display: inline-block;
}

.root{
  position: relative;
}