.list{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.spinner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn{
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}