.root{
  display: flex;
}
.row{
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    opacity: .5;
  }
  & span{
    margin-right: 5px;
  }

}
.innerLogo{
  display: flex;
  align-items: center;

}

.mobileNavigate{
  margin-right: 20px ;
}