.root{
  display: flex;
}
.row{
  justify-content: space-between!important;
  align-items: center!important;
}
.menu{
  display: flex!important;
  justify-content: flex-end!important;
  align-items: center!important;
}
.logo {
  display: flex!important;
  align-items: center!important;
  transition: all .3s!important;
  cursor: pointer!important;
  &:hover{
    opacity: .5!important;
  }
  & span{
    margin-right: 5px!important;
  }

}
.innerLogo{
  display: flex;
  align-items: center;

}

.mobileNavigate{
  margin-right: 20px ;
}