.img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: all .3s;
  &:hover{
    cursor: pointer;
  }
}


.root{
  margin: 10px auto 0 ;
  padding: 15px 10px;
}



.link{
  margin: 10px 0!important;
  display: flex!important;
  align-items: center!important;
  transition: all .3s!important;
  &:hover{
    cursor: pointer!important;
    opacity: .5!important;
  }
  & span{
    border-bottom: 1px solid var(--primary-dark);
    transition: all .3s;
    margin-left: 7px;

  }
}

.id{
  font-weight: 700;
  margin-right: 3px;
}
.info{
  display: flex;
  align-items: center;
}