
.link{
  cursor: pointer!important;
  transition: all .3s!important;
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  justify-content: center!important;
  &:hover{
    opacity: .5!important;
  }
}

.avatar{
  width: 90px!important;
  height: 90px!important;
}