.root{
  display: flex;
  align-items: center;
  max-width: 700px;
  margin-top: 30px!important;
  padding: 0 15px!important;
  @media (max-width: 500px) {
    margin: 15px auto 0 !important;
    flex-direction: column;
    padding: 10px 0!important;
    align-items: center;
    justify-content: center;
  }

}

.info{
  display: flex;
align-items: center;
  justify-content: space-between;
  @media (max-width: 500px) {
  padding: 15px 10px;
    align-items: center;
    justify-content: center;
  }

}
.avatar{
  width: 90px!important;
  height: 90px!important;
  margin-right: 15px!important;

  @media (max-width: 500px) {
    width: 70px!important;
    height: 70px!important;
  }
}
.sidebar{
  margin-left: auto;
  display: flex;
  //flex-direction: column;
  align-items: center;
  column-gap: 15px;
  justify-content: center;
  @media (max-width: 500px) {
    column-gap: 0;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

}
.btn{
  margin-top: 15px;
  text-transform: initial!important;
  width: 100%;
}
.name,.avatar{
  cursor: pointer;
  transition: all .3s;
  &:hover{
    opacity: .5;
  }
}
.massages{
  margin-right: 10px;
  @media (max-width: 500px) {
    margin-right: 0;
  }
}