.root{
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 30px auto 0 ;
  padding: 0 15px;
  @media (max-width: 500px) {
    margin: 15px auto 0 ;
  }
}

.info{
  display: flex;
align-items: center;
  justify-content: space-between;

}
.avatar{
  width: 90px;
  height: 90px;
  margin-right: 15px;

  @media (max-width: 500px) {
    width: 70px;
    height: 70px;
  }
}
.sidebar{
  margin-left: auto;
  display: flex;
  //flex-direction: column;
  align-items: center;
  column-gap: 15px;
  justify-content: center;
}
.btn{
  margin-top: 15px;
  text-transform: initial!important;
  width: 100%;
}
.name,.avatar{
  cursor: pointer;
  transition: all .3s;
  &:hover{
    opacity: .5;
  }
}