.root {
  padding: 10px 0;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  row-gap: 10px;
}

.item {
  margin-top: 10px;
}

.itemInfo {
  color: var(--text-opacity-white) !important;
}