@import "~bootstrap/scss/bootstrap";
@import "./normalize";


:root {
  --primary-light: #68709A;
  --primary-dark: #28946b;

  --background-light: #FFFFFF;
  --background-dark: #28946b;

  --background-paper-light: #74748A;
  --background-paper-dark: #18191a;
  --background-paper: #242526;


  --text-primary-light: #000000;
  --text-secondary-light: rgba(255, 255, 255, .6);

  --text-primary-dark: #ffffff;
  --text-secondaryy--dark: rgba(0, 0, 0, .6);
  --text-opacity-black: rgba(0, 0, 0, .6);
  --text-opacity-white: rgba(255, 255, 255, .7)
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  border: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1460px !important;
  }
}


.swiper-button-prev {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg stroke='black' fill='white' data-name='Livello 1' id='Livello_1' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cpath d='M64,0a64,64,0,1,0,64,64A64.07,64.07,0,0,0,64,0Zm0,122a58,58,0,1,1,58-58A58.07,58.07,0,0,1,64,122Z'/%3E%3Cpath d='M74.12,35.88a3,3,0,0,0-4.24,0l-26,26a3,3,0,0,0,0,4.24l26,26a3,3,0,0,0,4.24-4.24L50.24,64,74.12,40.12A3,3,0,0,0,74.12,35.88Z'/%3E%3C/svg%3E");

  &:after, &:before {
    content: ''
  }
}

.swiper-button-next {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg stroke='black' fill='white' data-name='Livello 1' id='Livello_1' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cpath d='M64,0a64,64,0,1,0,64,64A64.07,64.07,0,0,0,64,0Zm0,122a58,58,0,1,1,58-58A58.07,58.07,0,0,1,64,122Z'/%3E%3Cpath d='M58.12,35.88a3,3,0,0,0-4.24,4.24L77.76,64,53.88,87.88a3,3,0,1,0,4.24,4.24l26-26a3,3,0,0,0,0-4.24Z'/%3E%3C/svg%3E");

  &:after, &:before {
    content: ''
  }
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0!important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #C96F26;
}

.swiper-scrollbar {
  background-color: #C96F26;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: var(--primary-dark);

}


.swiper-button-prev {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg stroke='black' fill='white' data-name='Livello 1' id='Livello_1' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cpath d='M64,0a64,64,0,1,0,64,64A64.07,64.07,0,0,0,64,0Zm0,122a58,58,0,1,1,58-58A58.07,58.07,0,0,1,64,122Z'/%3E%3Cpath d='M74.12,35.88a3,3,0,0,0-4.24,0l-26,26a3,3,0,0,0,0,4.24l26,26a3,3,0,0,0,4.24-4.24L50.24,64,74.12,40.12A3,3,0,0,0,74.12,35.88Z'/%3E%3C/svg%3E");
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #000000;
}

.swiper-button-next {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg stroke='black' fill='white' data-name='Livello 1' id='Livello_1' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cpath d='M64,0a64,64,0,1,0,64,64A64.07,64.07,0,0,0,64,0Zm0,122a58,58,0,1,1,58-58A58.07,58.07,0,0,1,64,122Z'/%3E%3Cpath d='M58.12,35.88a3,3,0,0,0-4.24,4.24L77.76,64,53.88,87.88a3,3,0,1,0,4.24,4.24l26-26a3,3,0,0,0,0-4.24Z'/%3E%3C/svg%3E");
  background-color: #000000;
  height: 25px!important;
  width: 25px!important;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}


.swiper-horizontal > .swiper-scrollbar {
  background-color: rgba(255, 255, 255, .5) !important;
}

.swiper-scrollbar-drag {
  background-color: #1976d2 !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '';
  width: 0;
  height: 0;
}

//.swiper-button-next, .swiper-button-prev {
//height: auto;
//  width: auto;
//}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
  bottom: 0!important;
}