
.input {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, .2) !important;
  font-size: 12px !important;

  & label {
    color: inherit !important;
    height: 100% !important;
  }
}

.innerinput {
  position: relative;
  width: 100%;
  display: block;

}


.button {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  padding: 5px 10px !important;;
  text-align: center !important;
  font-size: 15px !important;
  width: auto !important;
  background-color: transparent !important;
  outline: none !important;
  transition: all .3s !important;
  min-width: auto !important;
  border: none !important;
  box-shadow: none !important;

  &:hover:not([disabled]) {
    opacity: .5 !important;
  }


}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}



