.btn{
text-transform: none!important;
 border-bottom: 1px solid var(--text-primary-dark);
}

.list{
 display: flex;
 flex-direction: column;
 row-gap: 30px;
 height: 100%;
 overflow-y: auto;
}

.root{
 display: flex;
 flex-direction: column;
 height: 100%;
 max-width: 500px;
 margin: 0 auto;
}
.btnswrap{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-bottom: 10px;
}
.btn{
 text-transform: initial!important;
}
.text{
 margin-right: 3px ;
}