.btn{
text-transform: none!important;
 display: flex!important;
 align-items: center!important;
 justify-content: center!important;

}

.list{
 display: flex;
 flex-direction: column;
 row-gap: 30px;
 height: 100%;
 overflow-y: auto;
}

.root{
 display: flex;
 flex-direction: column;
 height: 100%;
 max-width: 500px;
 margin: 0 auto;
}
.btnswrap{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-bottom: 10px;
}

.text{
 margin-right: 3px!important ;
}
.icon{
 margin-right: 4px;
 margin-top: 4px;
}
.onLoad{
 display: flex;
 align-items: center;
 justify-content: center;
}
.spinner{
 display: flex;
 align-items: center;
 justify-content: center;
}

.back{
 justify-content: left!important;
 margin-bottom: 10px;
}